body {
  background-color: gainsboro;
}

.flexBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trail {
  padding: 10px;
  margin: 25px;
  text-align: center;
  display: inline-block;
}

.mapFrame {
  width: 500px;
  height: 450px;
}

.imgURL {
  width: 240px;
  height: 160px;
  padding-top: 10px;
}

.trailName {
  font-size: 20px;
}

.trailName:hover {
  color: blue;
}

.homeIMG {
  width: 100%;
}

.flexContainer {
  display: flex;
  flex-wrap: nowrap;
}

.flexItem {
  text-align: center;
  margin: 30px;
  font-size: 20px;
}

.logoutButton {
  background-color: black;
  color: white;
  margin: 25px;
  padding: 5px;
  border-radius: 5px;
}
