body {
  background-color: gainsboro;
}

.flexBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trail {
  padding: 10px;
  margin: 40px;
  text-align: center;
  display: inline-block;
}

.mapFrame {
  width: 250px;
  height: 200px;
}
